@import "reset";
@import "variables/global";
@import "themes/dark";
@import "themes/normal";

.app {
  font: var(--font-m);
  background: var(--bg-color);
  color: var(--primary-color);
  min-height: 100vh;
  text-align: center;
  scroll-behavior: smooth;
  overflow: auto;
  position: relative;
}

.content-page {
  display: flex;
}

.page-wrapper {
  flex-grow: 1;
}

* {
  padding: 0px;
  margin: 0px;
  border: none;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}
