.Form {
  width: 400px;
  height: 450px;
  margin-left: 30px;
  color: #bef0e4;
  .form_container_message {
    border-radius: 10px;
    padding: 117px;
    text-align: center;
    height: 450px;

    background-color: rgb(46, 46, 46);
    box-shadow: 0 0 30px rgb(214 215 216 / 98%);
  }
  .form_container {
    border-radius: 10px;
    padding: 10px 30px 20px 30px;
    background-color: #696969;
    box-shadow: 0 0 30px rgba(214, 215, 216, 0.3);
    .form_title {
      text-align: center;
      font-weight: bold;
    }
    .errorMessage {
      display: block;
      text-align: end;
      color: #ff9a9a;
      text-decoration: underline;
    }
    input,
    textarea {
      display: block;
      width: 100%;
      padding: 10px 15px;
      border-radius: 5px;
      box-shadow: none;
      font-size: 14px;
      color: white;
      border: 2px solid #bef0e4;
      &::placeholder {
        color: #bef0e4;
      }
      &:not(:first-child) {
        margin-top: 16px;
      }
    }
    textarea {
      height: 140px;
      color: white;
      font-weight: 400;
      &:focus {
        outline: none;
      }
    }
    .button {
      padding-top: 30px;

      margin: 0 auto;
      width: 200px;
      .animatedButton {
        width: 100%;
        background: #106eea;
        border: 0;
        color: #fff;
        transition: 0.4s;
        border-radius: 4px;
        text-align: center;
        padding: 10px 30px;
      }
    }
  }
}

@media only screen and (max-width: 798px) {
  .Form {
    margin-left: 0;
    margin-bottom: 20px;
  }
}

@media only screen and (max-width: 412px) {
  .Form {
    width: 90vw;

    .form_container {
      padding: 20px;
    }
  }
}
