.Form {
  width: 450px;
  height: 450px;
  margin-left: 30px;
  background-color: rgb(234, 234, 234);
  border-radius: 10px;
  .form_container {
    padding: 30px;
    height: 450px;
    background-color: #696969;
    input,
    textarea {
      display: block;
      width: 100%;
      padding: 10px 15px;
      border-radius: 5px;
      box-shadow: none;
      font-size: 14px;
      background: aliceblue;
      border: 2px solid #bef0e4;

      &:not(:last-child) {
        margin-bottom: 16px;
      }
    }
    textarea {
      height: 150px;
    }
    .button {
      background: #106eea;
      border: 0;
      padding: 10px 30px;
      color: #fff;
      transition: 0.4s;
      border-radius: 4px;
      text-align: center;
      width: 200px;
      margin: 0 auto;
    }
  }
}
