* {
  padding: 0px;
  margin: 0px;
  border: none;
}

.App {
  text-align: center;
  scroll-behavior: smooth;
  overflow: auto;
  position: relative;
  height: 100%;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}
